.resources {
    display: flex;
    min-height: 1.5em;
    max-height: 2em;
    font-size: 3.2em;
    color: rgba(197, 199, 231, 0.2);
    font-family: 'Play', regular;
    text-align: center;
    align-content: center;
    padding:20px 0px 20px 0px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0);
    display: block;
    transition: 3s ease-out;
    transition: 3s ease-in;
    text-decoration: inherit;

}
.resources:hover{
    background-color: rgb(103, 111, 208, .1);
    color: rgba(197, 199, 231, 1);
    transition: 7s ease-out;
    transition: 1s ease-in;
    font-size: 5em ease-in;
    font-size: 3.2 ease-out;
  }

  .mdn {
      display: flex;
      /* flex: 1 1 5%; */
      /* background-color: rgba(0,0,0,0.5); */
      min-height: 1.5em;
      max-height: 2.5em;
      font-size: 1.2em;
      color: rgba(197, 199, 231, 0.2);
      font-family: 'Play', regular;
      text-align: center;
      align-content: center;
      padding:20px 0px 20px 0px;
      margin-bottom: 20px;
      background-color: rgba(0,0,0,0);
      /* text-shadow: 1px 1px 1px #000; */
      display: block;
      transition: 5s ease-out;
      transition: 2s ease-in;
      text-decoration: inherit;

  }
  .mdn:hover{
      background-color: rgb(103, 111, 208, .1);
      color: rgba(197, 199, 231, 1);
      transition: 7s ease-out;
      transition: 1s ease-in;

    }
