.formWrapper{
    margin: auto;
    /* width: 10px; */
    /* height: 100px; */
}

.noteButton{
    /* border: none; */
    margin: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding: 10px 24px; */
    font-size: 1em;
    font-family: 'Play';
    background-color: rgba(34,49,63,0.2);
    color: #F4B350;
    transition: 0.2s ease-out;
    transition: .7s ease-in;
    padding:10px 10px 38px 34px;
    height: auto;
    margin: auto;
  }

.noteButton:hover{
    background-color: rgb(63, 127, 191, .3);
    color: #F4B350;
    transition: 0.2s ease-out;
    transition: .7s ease-in;

}

.noteInput{
    width: 900px;
    min-width: 800px;
    font-size: 1em;
    padding-left: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Play';
    background-color: rgba(34,49,63,0.2);
    color: rgba(34,49,63,0.1);
    transition: 0.2s ease-out;
    transition: .7s ease-in;
    padding:10px 10px 38px 34px;
    height: auto;
    margin: auto;

}
.noteInput:hover{
    background-color: rgb(63, 127, 191, .3);
    color: rgba(34,49,63,0);
    transition: 1.2s ease-out;
    transition: .7s ease-in;

}
.noteInput:focus{
  background-color: rgba(34,49,63,0);
    color: #F4B350;
    transition: 0.2s ease-out;
    transition: .7s ease-in;}
