.card-container{
  cursor: pointer;
  height: 500px;
  width: 800px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
}

.card {
  height: 500px;
  width: 800px;
  position: absolute;
  border: 2px solid #300;
  transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.2s ease-in-out;
}

.card .front {
  height: 500px;
  width: 800px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 251, 251, 1);
}

.card .back {
  height: 500px;
  width: 800px;
  text-align: center;
  transform: rotateY(180deg);
}

.eng{
  color: #333;
  font-size: 1.3em;
  padding-top: 20%;
}

.han{
  color: #333;
  font-size: 1.3em;
  padding-top: 20%;
}

.pin{
  color: #333;
  font-size: 1.3em;
  padding-top: 10%;
}
